@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-2xl;
}
h2 {
  @apply text-xl;
}
h3 {
  @apply text-lg;
}
a {
  @apply text-blue-600 underline;
}

h3 {
  color: blue;
}

.map {
  height: 100px;
}

input.invalid {
  border-color: red;
}
div.error {
  color: red;
}

form {
  @apply block bg-white rounded-t-lg overflow-hidden border-t border-l border-r border-gray-400 p-4  p-8;

  h3 {
    @apply block;
  }
  label {
    @apply block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2;
  }
  input,
  textarea {
    @apply appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight;

    &:focus {
      @apply outline-none bg-white border-gray-500;
    }
  }
}

/*@tailwind base;
@tailwind components;
@tailwind utilities;*/
